*{
    padding: 0;
    margin: 0;
    font-size: 16px;
    color:#344A5D;
}
a{
    text-decoration: none;
}
html{
    background-color: #29333E;
    font-family: 'Lato', sans-serif;
}
.modal-window{
    width:630px;
    background-color:#F9FAFB;
    border-radius: 7px;
    border: 2px solid #ECF0F1;
    box-shadow: -15px 15px 0px #1A2128;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.modal-window__header{
    border-bottom: 2px solid #ECF0F1;
    position: relative;
    padding: 20px;
}
.modal-window__header h1{
    font-weight: bold;
    font-size: 24px;
}
.modal-window__header .close{
    position: absolute;
    right:25px;
    top: 20px;
}
.modal-window__header .close a{
    color:#BEC5CC;
    font-size: 18px;
}
.modal-window__message{
    padding: 25px 25px 30px;
    line-height: 25px;
}
.message-color{
    color: #1DBB9D;
}
.modal-window__buttons{
    background-color: #ECF0F1;
    padding: 17px;
    height: 40px;
}
.modal-window__buttons .modal-window__button{
    background-color: #BDC3C7;
    border-radius:5px;
    font-size: 14px;
    padding: 10px;
    width: 150px;
    float: right;
    margin: 0 10px;
    color:white;
}
.modal-window__buttons .modal-window__button:hover{
    background-color: #1DBB9D;
    border-color:#1DBB9D;
    box-shadow: 0px 1px 0px #189F86;
}